<!-- <div class="modal">
    <span class="close" (click)="closeForm()">&times;</span>
   
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div formGroupName="department">
        <div class="form-group">
          <label for="name">Department Name:</label>
          <input id="name" formControlName="name" type="text" placeholder="Enter Department name" />
        </div>
      </div>
  
      <button type="submit" [disabled]="form.invalid">{{isEditMode ? 'Update' : 'Submit'}}</button>
    </form>
  </div>
   -->
   <div class="modal">
    <span class="close" (click)="closeForm()">&times;</span>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div formGroupName="department">
        <div class="form-group">
          <label for="name">Department Name:</label>
          <input 
            id="name" 
            formControlName="name" 
            type="text" 
            placeholder="Enter Department name" 
            [ngClass]="{'is-invalid': form.get('department.name')?.invalid && (form.get('department.name')?.touched || form.get('department.name')?.dirty)}"
          />
          <div *ngIf="form.get('department.name')?.invalid && (form.get('department.name')?.touched || form.get('department.name')?.dirty)" class="invalid-feedback">
            Department name is required.
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid">{{isEditMode ? 'Update' : 'Submit'}}</button>
    </form>
</div>
