/* Modal styles */
.modal {
    /* display: block;
    position: fixed; */
    z-index: -1;
    left: 0;
    top: 0;
    width: 800px;
    height: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: inset;
  }
  
  .modal-content {
    background-color: white;
    /* margin: 15% auto; */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
  }
  
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  table {
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
    width: 400px;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4F5F64;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #014055;
  }