<div class="whole">
  <div class="container">
    <h1>{{departName}}</h1>
    <div class="search-container">
      <input type="text" pInputText [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search" />
    </div>

    <div class="table-container">
      <p-table [value]="employees" [totalRecords]="totalRecords" [lazy]="true" [paginator]="true"   [rows]="rows"
        (onLazyLoad)="onPageChange($event)" [loading]="loading"  [sortField]="sortField"
        [sortOrder]="sortOrder"
        (onSort)="onSortChange($event)" class="custom-p-table p-datatable-responsive">

        <ng-template pTemplate="header">
          <tr class="table-header">
            <th pSortableColumn="id">Employee ID <p-sortIcon field="id"></p-sortIcon></th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>City</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-employee>
          <tr class="table-row">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.city}}</td>
            <td>
              <i class="pi pi-cog table-icon update-icon" (click)="gotoEdit(employee.id)"></i>
            </td>
            <td>
              <i class="pi pi-trash table-icon delete-icon" (click)="deleteEmployeeList(employee.id)"></i>
            </td>
          </tr>
        </ng-template>

      </p-table>

    </div>
    <div class="button-container">
      <button (click)="closeModal()">Back</button>
    </div>
  </div>
</div>