.container {
  background-color: #fff;  
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%; 
  max-width: 100%;
}
.table-container {
  max-height: 300px; 
  overflow-y: auto;  
  border: 1px solid #ddd; 
  margin-top: 10px;  
}
.table-header th {
  background-color: #1f61ad;
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 1.1em;
}

.custom-p-table {
  width: 100%;
  border-collapse: collapse;
 
}

.table-row{
  overflow-x: scroll;

}

.table-row td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 0.95em;
}

.table-row:nth-child(even) {
  background-color: #f2f2f2; 
}

.table-icon {
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.view-icon {
  color: #007bff; 
}

.add-icon {
  color: #28a745;
}

.update-icon {
  color: #ffc107;
}

.delete-icon {
  color: #dc3545; 
}


.table-icon:hover {
  transform: scale(1.2); 
}

.view-icon:hover {
  color: #0056b3; 
}

.add-icon:hover {
  color: #218838;
}

.update-icon:hover {
  color: #e0a800; 
}

.delete-icon:hover {
  color: #c82333; 
}

@media screen and (max-width: 768px) {
  .container {
      width: 95%; 
  }

  .custom-p-table {
      font-size: 0.85em; 
  }

  .table-header th, .table-row td {
      padding: 8px;
  }

  .table-icon {
      font-size: 1em; 
  }
}
.search-container input{
  width: 250px;
  padding: 5px;
  
}
.close {
  position: absolute;
  top: 80px;
  right: 40px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: #ff4d4d;
}
.button-container{
  display: flex;
  justify-content: end;
  margin-right: 120px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.whole{
  display: flex;
  justify-content: center;
}
