<!-- src/app/navbar/navbar.component.html -->
<nav>
  <div>
    <div>
      <a [routerLink]="['/department']" routerLinkActive="active">Department</a>
    </div>
    <div>
      <a [routerLink]="['/addall']" routerLinkActive="active">Add All</a>
    </div>
    <div>
      <a [routerLink]="['/search']" routerLinkActive="active">Details</a>
    </div>
    <div>
      <a [routerLink]="['/editdepartment']" routerLinkActive="active">Add Department</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>