<div class="modal">
  <span class="close" (click)="back()">&times;</span>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="employee">
      <div class="form-group">
        <label for="name">Employee Code:</label>
        <input formControlName="id" id="id" type="text" placeholder="Enter employee Code" />
        <div *ngIf="form.get('employee.id')?.invalid && form.get('employee.id')?.touched" class="error-message">
          Employee Code is required.
        </div>
      </div>
      <div class="form-group">
        <label for="name">Employee Name:</label>
        <input formControlName="name" id="name" type="text" placeholder="Enter employee name" />
        <div *ngIf="form.get('employee.name')?.invalid && form.get('employee.name')?.touched" class="error-message">
          Employee name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email" id="email" type="text" control="email" placeholder="Enter email" appEmailValidator />
        <div *ngIf="form.get('employee.email')?.invalid && form.get('employee.email')?.touched" class="error-message">
          Enter a valid email.
        </div>
      </div>

      <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input formControlName="mobile" id="mobile" type="text" placeholder="Enter mobile number"/>
        <div *ngIf="form.get('employee.mobile')?.invalid && form.get('employee.mobile')?.touched" class="error-message">
          Enter a valid 10-digit mobile number.
        </div>
      </div>

      <div class="radio-group">
        <label>Gender:</label>
        <label>
          <input formControlName="gender" type="radio" value="male" /> Male
        </label>
        <label>
          <input formControlName="gender" type="radio" value="female" /> Female
        </label>
        <div *ngIf="form.get('employee.gender')?.invalid && form.get('employee.gender')?.touched" class="error-message">
          Select gender.
        </div>
      </div>

      <div class="form-group">
        <label for="city">City:</label>
        <select formControlName="city" id="city">
          <option value="" disabled selected>Select a city</option>
          <option value="coimbatore">Coimbatore</option>
          <option value="chennai">Chennai</option>
          <option value="bangalore">Bangalore</option>
          <option value="mumbai">Mumbai</option>
          <option value="delhi">Delhi</option>
        </select>
        <div *ngIf="form.get('employee.city')?.invalid && form.get('employee.city')?.touched" class="error-message">
          Select a city.
        </div>
      </div>
    </div>
      <button type="submit" [disabled]="form.invalid" appEmailValidator>{{ isEditMode ? 'Update' : 'Add' }}</button>
  </form>
</div>
