<div class="form-container">
    <h2>Deparment and Employee </h2>

    <label for="name">Deparment Name</label>
    <input type="text" name="" id="name" [(ngModel)]="newDepartment.name">

    <div *ngFor="let employee of newDepartment.employees; let i = index" class="form-group">
        <label for="employee{{ i }}">name</label>
        <input type="text" id="employee-{{ i }}" [(ngModel)]="employee.name" name="employee[]"
            placeholder="Employee Name" required>
        <label for="employee{{ i }}">email</label>
        <input type="text" id="employee-{{ i }}" [(ngModel)]="employee.email" name="employee[]"
            placeholder="Enter email" required>
        <label for="employee-{{ i }}">mobile</label>
        <input type="text" id="employee-{{ i }}" [(ngModel)]="employee.mobile" name="employee[]"
            placeholder="Enter mobile" required>
    </div>

    <button (click)="addEmployee()">Add Employee</button>
    <button type="submit" (click)="onSubmit(newDepartment)">Submit</button>
</div>
<router-outlet>
</router-outlet>