<div class="form-container">
    <h2>{{ isEdit ? 'Edit' : 'Create' }} Department and Employees</h2>

    <label for="name">Deparment Name</label>
    <select [(ngModel)]="selectedItem">
        <option *ngFor="let item of department" [value]="item.id">{{ item.name }}</option>
    </select>

    <div *ngFor="let employee of newDepartment.employees; let i = index" class="form-group">
        <label for="employee{{ i }}">name</label>
        <input type="text" id="employee-{{ i }}" [(ngModel)]="employee.name" name="employeeName{{i}}"
            placeholder="Employee Name" required>
        <label for="employee{{ i }}">email</label>
        <input type="text" id="employee-{{ i }}" [(ngModel)]="employee.email" name="employeeEmail{{i}}"
            placeholder="Enter email" required>
        <label for="employee-{{ i }}">mobile</label>
        <input type="text" id="employee-{{ i }}" [(ngModel)]="employee.mobile" name="employeeMobile{{i}}"
            placeholder="Enter mobile" required>
            <div class="buttons">
                <button type="button" (click)="removeEmployee(i)">Remove</button>
                <button (click)="addEmployee()">Add Employee</button>
            </div>
        
    </div>
    <button type="submit" (click)="onSubmit(newDepartment)"> {{ isEdit ? 'Update' : 'Submit' }}</button>
</div>
<router-outlet>
</router-outlet>