/* Search Bar */
.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input:focus {
  outline: none;
  border-color: #2980b9;
  box-shadow: 0 4px 12px rgba(52, 152, 219, 0.3);
}

/* Table Container */
.table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Department Table Styling */
.department-table {
  width: 100%;
  border-collapse: collapse;
}

.department-header {
  background-color: #2ecc71;
  color: white;
  text-align: left;
  padding: 12px;
  font-weight: bold;
}

.department-table th,
.department-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

.department-table td {
  background-color: #ecf0f1;
}

/* Employee Table Styling */
.employee-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.employee-header {
  background-color: #3498db;
  color: white;
  text-align: left;
  padding: 8px;
}

.employee-table th,
.employee-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}

.employee-table td {
  background-color: #f0f3f4;
}

/* Hover Effects */
.department-table tr:hover,
.employee-table tr:hover {
  background-color: #e8f8f5;
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .search-bar input {
    width: 80%;
  }

  .table-container {
    padding: 10px;
  }

  .department-table th,
  .department-table td,
  .employee-table th,
  .employee-table td {
    padding: 8px;
  }
}

.download-button {
  background-color: #3498db; /* Primary color */
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hover effect for the button */
.download-button:hover {
  background-color: #2980b9; /* Darker shade on hover */
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Active effect for button click */
.download-button:active {
  background-color: #1f5d91;
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons{
  display: flex;
  gap: 10px;
  justify-content: end;
}