<div class="whole">
    
  
    <div class="container">
        <div class="search-container">
            <input type="text" pInputText [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search"/>
          </div>
        <p-table [value]="departments" class="custom-p-table " [paginator]="true" [rows]="4" [lazy]="true" (onPage)="onPageChange($event)" [loading]="loading" [totalRecords]="totalRecords"> 
            <ng-template pTemplate="header">
                <tr class="table-header">
                    <th>Code</th>
                    <th>Name</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-department>
                <tr class="table-row">
                    <td>{{ department.id }}</td>
                    <td>{{ department.name }}</td>
                    <td>
                        <i class="pi pi-eye table-icon view-icon" (click)="openEmployeeList(department.id)" [routerLink]="['/employeeList']"></i>
                    </td>
                    <td>
                        <i class="pi pi-user-plus table-icon add-icon" (click)="department.id !== undefined ? openEmployeeForm(department.id) : null" [routerLink]="['/create']"></i>
                    </td>
                    <td>
                        <i class="pi pi-cog table-icon update-icon" (click)="gotoEdit(department.id)"></i>
                    </td>
                    <td>
                        <i class="pi pi-trash table-icon delete-icon" (click)="department.id !== undefined ? deleteEmployeeList(department.id) : null"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- <app-add-employee-form *ngIf="showForm" [departId]="selectedId" (employeeAdded)="handleEmployeeAdded($event)">
    </app-add-employee-form> -->
<!-- 
    <app-employee-list *ngIf="selectedDepartmentId" [departmentId]="selectedDepartmentId" [departName]="departmentName">
    </app-employee-list> -->

</div>
<router-outlet></router-outlet>
